In [2]:
person = {
	"name": "Alice",
	"age": 30,
	"is_student": False
}



for key in person:
	# print(key, ":", person[key])
    print(key)
    print(person[key])

name
Alice
age
30
is_student
False

In [3]:
person1 = {
    "id": 1,
	"name": "Alice",
	"age": 5,
	"is_student": False
}

person2 = {
    "id": 2,
	"name": "Tim",
	"age": 30,
	"is_student": False
}


person3 = {
    "id": 3,
	"name": "Mark",
	"age": 35,
	"is_student": False
}

people_in_myhouse = [person1, person2, person3]
average_age = 0
total_age = 0
for person in people_in_myhouse:
    age = person["age"]
    print(f"Person {person['name']} is {age} years old.")
    total_age += age

average_age = total_age / len(people_in_myhouse)
average_age

Person Alice is 5 years old.
Person Tim is 30 years old.
Person Mark is 35 years old.

23.333333333333332

In [8]:

#Person is a dictionary, name is a key


print(person["name"]) #Alice
print (person.get("name", "UNKNOWN")) #Alice


print(person["age"])
print(person["is_student"])

print(person.get("name"))  
print(person.get("age"))  
print(person.get("is_student"))

Mark
Mark
35
False
Mark
35
False

In [9]:
print(person.get("address"))  
print(person.get("address", "1 ABC Street")) 

# person["address"]

None
1 ABC Street

In [4]:
person["age"] = 31
person

{'name': 'Alice', 'age': 31, 'is_student': False}

In [5]:
person

{'name': 'Alice', 'age': 31, 'is_student': False}

In [6]:
del person["is_student"]

In [7]:
person

{'name': 'Alice', 'age': 31}

In [8]:
person_1 = {
	"name": "Alice",
	"age": 30,
	"is_student": False
}

person_2 = {
	"name": "Jim",
	"age": 20,
	"is_student": True
}

classroom = [person_1, person_2]
classroom

# Give me ages for all persons in the classroom
ages = [person["age"] for person in classroom]
print(ages)

for person in classroom:
    print(person["age"])

[30, 20]
30
20

## Exception Handling

In [11]:
try:
    del person["is_student"]
except Exception as e:
    print(f"Error in removing key: {e}")

Error in removing key: 'is_student'

In [10]:
try:
    a = 10
    b = 0
    print (a/b)
except Exception as e:
    print(f"Error: {e}")

Error: division by zero

In [11]:
print(person)
print(person.pop("age"))
print(person)

{'name': 'Jim', 'age': 20}
20
{'name': 'Jim'}

In [12]:
person1 = {
	"name": "Alice",
	"age": 30,
	"is_student": False
}
person2 = {
	"name": "Mark",
	"age": 34,
	"is_student": False
}
persons = [person1, person2] #List of dictionaries

for person in persons:
    for key in person:
	    print(key, ":", person[key])

name : Alice
age : 30
is_student : False
name : Mark
age : 34
is_student : False